.content {
  margin: 100px;
  display: flex;
}

.content_header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5px;

}

.time {
  font-size: 15px;
  color: rgba(0,0,0,0.8);
  text-align:right;
}

.content_text {
  margin-left: 10px;
}

h1 {
  font-weight: 800;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 8px;
}

.text {
  font-size: 18px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
